body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*Todo List*/
#todolist, #innerlist ul{
  /*border: 1px solid red;*/
  list-style: none;
  padding-left:0;
}

#todolist li {
  position: relative;
  left: -7%;
  border: 1px solid #9b9b9b;
  background-color: #9b9b9b;
  padding: 10px;
  border-radius: 5px;
}

#innerlist ul{
  position: relative;
  left: 5%;
}

#todo-header {
  position: absolute;
  top: 50%;
  left: 35%;
}

#todo-container {
  position: absolute;
  top: 300%;
  left: 32%;
}

.fa-star{
  color: #ffe900;
}

.star {
  color: #f2ed00;
}

.disappear{
  display: none;
}

.trash, .star, #edit-btn, #add-btn, #showsub, #inner-edit-btn, #inner-add-btn, .fa-star-o, .fa-star {
  cursor: pointer;
}

.completeTodo {
  color: #b8babc;
  text-decoration: line-through;
}

#todostar {
  position: absolute;
  right: 20px;
}

#showsub{
  position: absolute;
  right: 40px;
}

#todolist {
  width: 30%;
}


/*414 view*/
#todo-header {
  position: absolute;
  top: 50%;
  left: 0;
}

#todo-container {
  position: absolute;
  top: 300%;
  left: 0;
}

#todolist li{
  position: relative;
  /*border: solid 1px black;*/
  width: 300px;
}

#innerlist ul li{
  width: 280px;
}

/*767 view*/
#todo-header {
  position: absolute;
  top: 50%;
  left: 0;
}

#todo-container {
  position: absolute;
  top: 300%;
  left: 0;
}

#todolist li{
  position: relative;
  /*border: solid 1px black;*/
  width: 415px;
}
