<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="stylesheets/main.css" />
  </head>
  <body>


    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">PS Admin</a>
          </div>
          <!-- /.navbar-header -->

          <ul class="nav navbar-top-links navbar-right">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-messages">
                      <li>
                          <a href="#">
                              <div>
                                  <strong>John Smith</strong>
                                  <span class="pull-right text-muted">
                                      <em>Yesterday</em>
                                  </span>
                              </div>
                              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                          </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="#">
                              <div>
                                  <strong>John Smith</strong>
                                  <span class="pull-right text-muted">
                                      <em>Yesterday</em>
                                  </span>
                              </div>
                              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                          </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="#">
                              <div>
                                  <strong>John Smith</strong>
                                  <span class="pull-right text-muted">
                                      <em>Yesterday</em>
                                  </span>
                              </div>
                              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                          </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a class="text-center" href="#">
                              <strong>Read All Messages</strong>
                              <i class="fa fa-angle-right"></i>
                          </a>
                      </li>
                  </ul>
                  <!-- /.dropdown-messages -->
              </li>

              <!-- /.dropdown -->
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                      </li>
                      <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->

          <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                    <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>

                    <li>
                        <a href="/calendar"><i class="fa fa-table fa-fw"></i> Calendar</a>
                    </li>
                    <li>
                        <a href="/todolist" class="active"><i class="fa fa-edit fa-fw"></i> Todo List</a>
                    </li>
                    <li>
                        <a href="/chat"><i class="fa fa-commenting fa-fw"></i> Chat</a>
                    </li>
                    <li>
                        <a href="/ticket"><i class="fa fa-ticket fa-fw"></i> Support</a>
                    </li>
                  </ul>
              </div>
              <!-- /.sidebar-collapse -->
          </div>
          <!-- /.navbar-static-side -->
      </nav>
    </div>

    <div id="todo">
      <div class="form-inline" id="todo-header">
        <div class="input-group">
          <label for=""></label>
          <input type="text" class="form-control" id="todoinput" placeholder="Add task...">
          <div class="input-group-addon" id="add-btn">Add</div>
        </div>
      </div>
      <br />
      <div class="container" id="todo-container">
        <ul id="todolist">
          <li>
            <input type="checkbox" id="todobox" value="">
            <span id="todoname">This is value</span>
            <div class="input-group disappear" id="todoedit">
              <input type="text" class="form-control" id="subinput" value="This is value">
              <div class="input-group-addon" id="edit-btn">Edit</div>
            </div>
            <span class="fa fa-star-o" id="todostar"></span>
            <span class="fa fa-trash trash" id="tododel"></span>
            <span class="fa fa-angle-double-down" id="showsub"></span>
            <div id="innerlist" class="disappear">
              <div class="input-group">
                <input type="text" class="form-control" id="innerinput" placeholder="Add a sub task...">
                <div class="input-group-addon" id="inner-add-btn">Add</div>
              </div>
              <ul>
                <li>
                  <input type="checkbox" id="innerbox" value="">
                  <span id="subname">This is inner value</span>
                  <div class="input-group disappear" id="inneredit">
                    <input type="text" class="form-control" id="innersubinput" value="This is a sub value">
                    <div class="input-group-addon" id="inner-edit-btn">Edit</div>
                  </div>
                  <span class="fa fa-trash trash" id="innerdel"></span>
                </li>
              </ul>
            </div>
          </li>
          <br />
        </ul>
      </div>
    </div>
    

    <script src='javascripts/jquery.min.js'></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="javascripts/myscript.js"></script>
    <script src="javascripts/sb-admin-2.js"></script>
  </body>
</html>
