<!DOCTYPE html>
<html>
   <head>
     <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="vendor/morrisjs/morris.css" >
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/chat.css" />
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">SHIELD</a>
          </div>
          <!-- /.navbar-header -->
          <ul class="nav navbar-top-links navbar-left">

            <li>
              <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
              <a href="/chat" class="active">| <i class="fa fa-commenting fa-fw"></i> Chat</a>
            </li>
            <li  id="nav_message">
              <a href="#">| <i class="fa fa-commenting fa-fw"></i> Messages</a>
            </li>
                    <li class="subTag" style="display:none; font-size: 12px; line-height: auto;">
                        <a href="/message_overview"> Overview</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto;">
                        <a href="/message_newtopic"> New Topic</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto;">
                        <a href="/message_autoreply"> Auto Reply</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto;">
                        <a href="/message_keywordsreply"> Keywords Reply</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto;">
                        <a href="/message_addfriendreply"> Add Friend Reply</a>
                     </li>
            <li>
              <a href="/calendar">| <i class="fa fa-table fa-fw"></i> Calendar</a>
            </li>
<!--             <li>
              <a href="/ticket">| <i class="fa fa-ticket fa-fw"></i> Support</a>
            </li> -->

          </ul>
          <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                <li class="divider"></li>
                <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
              </ul>
              <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->

      </nav>
    </div>
      <div id="home">
		<h3> Message: Add New Topics</h3>
		<p>You can add, edit, and test the message you want to send to LINE@</p>
        <p>NOTE FOR DEVELOPERS: <br/>
    1. 做close section<br/>
    2. 限制只能三則訊息<br/>
    3. 和Chat串連發送訊息<br/>
    4. 做Preview/ save功能
    </p>

  <button class="tablinks" rel="Appointment">Preview Message</button>
  <button class="tablinks" rel="Draft" >Save Draft</button>
  <button class="tablinks" rel="History" style="float:right; width:20%">Send</button>

<table>
  <tr>
    <th>Limit Users</th>
    <td>
    <form >
  <input type="checkbox" name="Dateandtime" value="Time"> Send All
<br>
  <input type="checkbox" name="SendNow" value="SendNow"> <a id="setlimit" rel="limituser">Send to Limited Users</a><br>
</form>
</td>
  </tr>
</table>
<!-- LIMIT USER -->
<div id="limituser" style="display:none">
<table>
<tr>
<td style="color:red">NOTE: You have to have 100+ friends to activate this function.</td>
</tr>
<tr>
<td>
<p><b>Filter by User Attributes</b></p>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="text" >Age</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="sticker">Sex</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="image" >Location</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="coupon">Platform</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="election" >Time since add friend</button>
</td>
</tr>
<tr>
<td><b>Selected Users Percentage</b> <p style="color:red">This is not available yet.</p>
</td>
</tr>
<tr>
<th>Tags(optional)   <input placeholder="example: female ios"></th>

</tr>
</table>
</div>

<table>
  <tr>
    <th>Set time and date</th>
    <td>
    <form >
  <input type="checkbox" name="Dateandtime" value="Time"> Date and Time:  <input type="datetime-local" id="endDate" style="width:20%" />
<br>
  <input type="checkbox" name="SendNow" value="SendNow"> Send Now<br>
</form>
</td>
  </tr>
  <tr>
    <th>Also send to main page</th>
    <td>
    <p>Note: You can only post one message at a time on your mainpage.</p>
   <form>
  <input type="checkbox" name="yes" value="yes"> Yes<br>
  <input type="checkbox" name="no" value="no"> No<br>
</form>
    </td>
  </tr>
</table>

<section>
<!--TEXT AREA -->
<div id="text" style="display:none">
 <table>
  <tr>
    <th style="padding:1.5%; background-color: #ddd">Enter Text:</th>
  </tr>
  <tr>
    <td style="background-color: #ddd">
    <div style="padding:1%">
          <div id="send-message">
            <div class="uploadArea" style="float:bottom">
              <div  id="showAttImg" >
                <div style="flex-direction:column;padding:5px 0">
                  <input size="35" id="attImgFill" placeholder="輸入圖片網址"/>
                  <input type='file' accept='image/*' id="imageUPload"/>
                </div>
                <button id="upImg">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <i class="fa fa-spinner" aria-hidden="true" style="display:none"></i>
                </button>
              </div>
              <div  id="showAttVid" >
                <div style="flex-direction:column;padding:5px 0">
                  <input size="35" id="attVidFill" placeholder="輸入影片網址"/>
                  <input type='file' accept='video/*' id="videoUPload"/>
                </div>
                <button id="upVid">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <i class="fa fa-spinner" aria-hidden="true" style="display:none"></i>
                </button>
              </div>
              <div  id="showAttAud" >
                <div style="flex-direction:column;padding:5px 0">
                  <input size="35" id="attAudFill" placeholder="輸入音訊網址"/>
                  <input type='file' accept='audio/*' id="audioUPload"/>
                </div>
                <button id="upAud">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <i class="fa fa-spinner" aria-hidden="true" style="display:none"></i>
                </button>
              </div>
            </div>
            <div class="formUpper">
              <div style="float:right;display:flex;padding:10px">
                <select  id="user-rooms">
                  <option id="selectAll" value="全選">全選</option>
                  <option id="selectAll" value="對可見用戶發送">對可見用戶發送</option>
                </select>
              </div>
              <div class="insert_media" style="position:absolute;display:block">
                <button  rel="showAttImg" id="attImg" class="onclick_show"><i class="fa fa-file-image-o fa" aria-hidden="true"></i></button>
                <button  rel="showAttVid" id="attVid" class="onclick_show"><i class="fa fa-file-video-o fa" aria-hidden="true"></i></button>
                <button  rel="showAttAud" id="attAud" class="onclick_show"><i class="fa fa-file-audio-o fa" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="formLower">
              <input placeholder="輸入訊息..." style="width:85%; height:50px;border:0" size="35" id="message" />
              <input type="button" id="submitMsg" />
            </div>
          </div>
        </div>
  </div>
  </td>
  </tr>
  <tr>
    <th style="padding:1.5%; background-color: #ddd">
      <button class="tablinks" rel="emos">Emoji</button>
    </th>
  </tr>
</table>  

<!--EMOJI PLUGINS(UNDONE) -->
<div id="emos" style="display:none; position:fixed; padding:5%; background-color: lightgrey; width:30%; height:30%">
      <button class="tablinks" id="emojis" rel="(moonwink)"></button>
      <button class="tablinks" id="emojis">Emoji</button>
      <button class="tablinks" rel="Appointment">Emoji</button>

</div>
</div>
<!--STICKER -->
<div id="sticker" style="display:none">
 <table>
  <tr>
    <th style="height:150px; padding:1.5%; background-color: #ddd; color:red">Sticker is not available now.</th>
  </tr>
  <tr>
    <td style="background-color: #ddd">
    <form style="padding:1%">
  </form>
  </td>
  </tr>
</table>  
</div>
<!--IMAGE -->
<table id="image" style="display:none; background-color: lightgrey">
<th>Choose the image you want to upload.</th>
<td style="height:200px; width:100%; padding:3%">
  <input type="file"/>
</td>

</table>

<!--COUPON -->
  <table id="coupon" style="display:none;background-color: lightgrey;">
    <tr>
      <th>Coupon Content</th>
      <td style="height:200px; width:100%; padding:3%">There's no coupon currently. Please create one at....</td>
    </tr>
  </table>

<!--ELECTION -->
  <table id="election" style="display:none;background-color: lightgrey;">
    <tr>
      <th style="padding:1%">Election Content</th>
      <td style="height:200px; width:100%; padding:3%">There's no election currently. Please create one at....</td>
    </tr>
  </table>

<!--PROMOTION -->
  <table id="promotion" style="display:none;background-color: lightgrey;">
    <tr>
      <th style="padding:1%">Promotion Content</th>
      <td style="height:200px; width:100%; padding:3%">There's no promotion currently. Please create one at....</td>
    </tr>
  </table>

<!--SURVEY -->
  <table id="survey" style="display:none;background-color: lightgrey;">
    <tr>
      <th style="padding:1%">Survey Content</th>
      <td style="height:200px; width:100%; padding:3%">There's no survey currently. Please create one at....</td>
    </tr>
  </table>

</section>



<table>
<td style="padding:5%">
	<p>Note: You can send 3 messages at a time. Please select the type of message you want to send.</p>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="text" >Text</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="sticker">Sticker</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="image" >Image</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="coupon">Coupon</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="election" >Election</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="promotion">Promotion</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="survey" >Survey</button>

</td>
</table>

</div>


  <button class="tablinks" rel="History" style="padding:0.5%; width: 20%; float:left; margin-left:40%; margin-top: 1%">Send</button>

<style>

table {
	margin-top:2%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th{
	width:15%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

      
body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height:auto;

}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height:500px;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {color: red;}
</style>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
      <script src="javascripts/firebaseConfig.js"></script>
      <script src="javascripts/message_newtopic.js"></script>
      <script src="javascripts/chat.js"></script>


   </body>
</html>
