<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel='stylesheet' href='/stylesheets/ticket.css' />
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">SHIELD</a>
          </div>
          <!-- /.navbar-header -->
          <ul class="nav navbar-top-links navbar-left">

            <li>
              <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
              <a href="/chat" class="active">| <i class="fa fa-commenting fa-fw"></i> Chat</a>
            </li>
            <li>
              <a href="/tag">| <i class="fa fa-commenting fa-fw"></i> Tag</a>
            </li>
            <li>
              <a href="/calendar">| <i class="fa fa-table fa-fw"></i> Calendar</a>
            </li>
            <li>
              <a href="/ticket">| <i class="fa fa-ticket fa-fw"></i> Support</a>
            </li>

          </ul>
          <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                <li class="divider"></li>
                <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
              </ul>
              <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->

      </nav>
    </div>


    <div class="add-btn">
      <a href="/tform" class="btn btn-default inner-add-complete">
        <span class="fa fa-plus fa-fw"></span> Add a Ticket
      </a>
    </div>
    <input type="text" class="ticket_search_bar" id="exampleInputAmount" value="" placeholder="Search">

    <div class="main">
      <div class="ticket">
        <table>
          <thead>
            <tr>
              <th> ID </th>
              <th> Content </th>
              <th> Status </th>
              <th> Priority </th>
              <th> Due </th>
            </tr>
          </thead>
          <tbody id="ticket-content">
          </tbody>
        </table>
      </div>
    </div>
    <div >
      <p id="console">

      </p>
    </div>
    <div class="modal fade" id="ticketInfoModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div style="display:flex">
              <span id="ID_num"></span>
              <table>
                <th style="display:none">subject</th>
                <td class="modal-title edit">User NickName</td>
              </table>

            </div>
          </div>
          <div class="modal-body">
            <table class="info_input_table">

            </table>
          </div>
          <div class="modal-footer">
            <button type="button" id="ticketInfo-submit" class="btn btn-default" data-dismiss="modal" style="background-color: greenyellow;">Confirm</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="javascripts/firebaseConfig.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="javascripts/ticket.js"></script>
  </body>
</html>
