
.alignCenter{
  text-align: center;
}

#home, #todo, #cal {
  position: relative;
  left: 250px;
  width: 78%;
}

#calendar {
  position: absolute;
  left: 10%;
}

#todo-header {
  position: absolute;
  top: 50%;
  left: 35%;
}

#todo-container {
  position: absolute;
  top: 300%;
  left: 32%;
}

@media (max-width: 767px) {
  #home, #todo, #cal {
    position: relative;
    left: 0;
    width: 100%;
  }

  #calendar {
    position: absolute;
    left: 0;
  }

  #todo-header {
    position: absolute;
    top: 50%;
    left: 0;
  }

  #todo-container {
    position: absolute;
    top: 300%;
    left: 0;
  }

  #todolist li{
    position: relative;
    /*border: solid 1px black;*/
    width: 415px;
  }
}

@media (max-width: 414px) {
  #home, #todo, #cal {
    position: relative;
    left: 0;
    width: 100%;
  }

  #calendar {
    position: absolute;
    left: 0;
  }

  #todo-header {
    position: absolute;
    top: 50%;
    left: 0;
  }

  #todo-container {
    position: absolute;
    top: 300%;
    left: 0;
  }

  #todolist li{
    position: relative;
    /*border: solid 1px black;*/
    width: 300px;
  }

  #innerlist ul li{
    width: 280px;
  }

  .trash {
    position: absolute;
    right: 10px;
  }
}

/*Login and register*/
.bg-login, .bg-register {
  background-color: #e6e6e6;
}

.login-header, .register-header {
  font-weight: bold;
  text-align: center;
}

.direct-login, .direct-register {
  text-align: center;
}


/*Todo List*/
#todolist, #innerlist ul{
  /*border: 1px solid red;*/
  list-style: none;
  padding-left:0;
}

#todolist {
  width: 30%;
}

#todolist li {
  position: relative;
  left: -7%;
  border: 1px solid #9b9b9b;
  background-color: #9b9b9b;
  padding: 10px;
  border-radius: 5px;
}

#innerlist ul{
  position: relative;
  left: 5%;
}

.trash {
  position: absolute;
  right: 5px;
}

#todostar {
  position: absolute;
  right: 20px;
}

#showsub{
  position: absolute;
  right: 40px;
}

.completeTodo {
  color: #b8babc;
  text-decoration: line-through;
}

.trash, .star, #edit-btn, #add-btn, #showsub, #inner-edit-btn, #inner-add-btn, .fa-star-o, .fa-star {
  cursor: pointer;

}

.fa-star{
  color: #ffe900;
}

.trash{
  color: #ff3535;
}

.star {
  color: #f2ed00;
}

.disappear{
  display: none;
}
