<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="vendor/morrisjs/morris.css" >
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/chat.css" />
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">SHIELD</a>
          </div>
          <!-- /.navbar-header -->
          <ul class="nav navbar-top-links navbar-left">

            <li>
              <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
              <a href="/chat" class="active">| <i class="fa fa-commenting fa-fw"></i> Chat</a>
            </li>
            <li  id="nav_message">
              <a href="#">| <i class="fa fa-commenting fa-fw"></i> Messages</a>
            </li>
                    <li class="subTag" style="display:none; font-size: 12px; line-height: auto;">
                        <a href="/message_overview"> Overview</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto;">
                        <a href="/message_autoreply"> Auto Reply</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto;">
                        <a href="/message_keywordsreply"> Keywords Reply</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto;">
                        <a href="/message_addfriendreply"> Add Friend Reply</a>
                     </li>
            <li>
              <a href="/calendar">| <i class="fa fa-table fa-fw"></i> Calendar</a>
            </li>
<!--             <li>
              <a href="/ticket">| <i class="fa fa-ticket fa-fw"></i> Support</a>
            </li> -->

          </ul>
          <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                <li class="divider"></li>
                <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
              </ul>
              <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->

      </nav>
    </div>
    <div id="chatHome">
      <div class="chatArea">
        <div id="chatApp" class="colume" >
          <div class="chatApp_item" id="Line_1" open="true">
            <img class="software_icon" src="http://informatiekunde.dilia.be/sites/default/files/uploads/logo-line.png">
            <h4>跟著董事長遊台灣1</h4>
          </div>
          <div class="chatApp_item" id="Line_2" open="true">
            <img class="software_icon" src="http://informatiekunde.dilia.be/sites/default/files/uploads/logo-line.png">
            <h4>跟著董事長遊台灣2</h4>
          </div>
          <div class="chatApp_item" id="FB" open="true">
            <img class="software_icon" src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png">
            <h4>Facebook</h4>
          </div>
          <div class="chatApp_item" id="wechat">
            <img class="software_icon" src="https://cdn.worldvectorlogo.com/logos/wechat.svg">
            <h4>未開放</h4>
          </div>
          <div class="chatApp_item" id="kakotalk">
            <img class="software_icon" src="https://cdn.worldvectorlogo.com/logos/kakaotalk.svg">
            <h4>未開放</h4>
          </div>
          <div class="chatApp_item" id="whatsapp">
            <img class="software_icon" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/whatsapp-256.png">
            <h4>未開放</h4>
          </div>
        </div>

        <div id="user" class="colume">
          <p style="width:18%;position:absolute;top:40%;margin:10px;z-index:0">
            choose a chat app to continue
          </p>
          <div class="tablinks_head">
            <div class="filter_head">
              <h4 id="title">Chat</h4>
              <i class="fa fa-filter" id="filter" aria-hidden="true"></i>
              <select class="searchSelect">
                <option value="content">content</option>
                <option value="sender">sender</option>
                <option value="sendTime">msg time</option>>
                <option value="remark">remark</option>
              </select>
              <i class="fa fa-search" id="search" aria-hidden="true"></i>
            </div>

            <div class="search" hidden>
              <input type="text" id="searchBox" placeholder="Search for messages..">
              <button id="filterClean"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>

            <div class="filterArea" style="display:none">


              <div class="filterPanel">

                <div class="filterUnit filterBar btn-group" id="filter_age">
                  <button class="filter_btn" data-toggle="dropdown" aria-expanded="true">
                    年齡:<span class="multiselect-selected-text" min="0" max="999">全選</span>
                    <b class="caret"></b>
                  </button>
                  <ul class="multiselect-container dropdown-menu">
                    <div class="filterSlider" id="age">
                    </div>
                  </ul>
                </div>

                <div class="filterUnit filterBar btn-group" id="filter_place">
                  <button class="filter_btn" data-toggle="dropdown" aria-expanded="true">
                    地區:<span class="multiselect-selected-text">全選</span>
                    <b class="caret"></b>
                  </button>
                  <ul class="multiselect-container dropdown-menu">
                    <div class="filterSelect" id="place">
                      <li><button value="全選" checked id="select-all">全選</li>
                      <li><input type="checkbox" value="北部" checked>北部</li>
                      <li><input type="checkbox" value="中部" checked>中部</li>
                      <li><input type="checkbox" value="東部" checked>東部</li>
                      <li><input type="checkbox" value="南部" checked>南部</li>
                    </div>
                  </ul>
                </div>

                <div class="filterUnit filterBar btn-group" id="filter_recent">
                  <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
                    上次聊天時間:<span class="multiselect-selected-text" min="0" max="9999999999999">全選</span>
                    <b class="caret"></b>
                  </button>
                  <ul class="multiselect-container dropdown-menu">
                    <div class="filterSlider" id="recent">
                    </div>
                  </ul>
                </div>

                <div class="filterUnit filterBar btn-group" id="filter_first" >
                  <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
                    首次聊天時間:<span class="multiselect-selected-text" min="0" max="9999999999999">全選</span>
                    <b class="caret"></b>
                  </button>
                  <ul class="multiselect-container dropdown-menu">
                    <div class="filterSlider" id="first">
                    </div>
                  </ul>
                </div>

                <div style="display:flex;padding:5px">
                  <input type="text" class="datepicker" id="startdate" placeholder="start date" readonly></input>
                  <input type="text" class="datepicker" id="enddate" placeholder="end date" readonly></input>
                </div>
                <div style="display:flex;padding:5px">
                  <button class="filterDate" id="firsttime">首次聊天</button>
                  <button class="filterDate" id="recenttime">最近聊天</button>
                </div>
                <div style="display:flex;padding:5px">
                  <select id="filterTimeSelect">
                    <option value="0">0~5 min</option>
                    <option value="1">5~10 min</option>
                    <option value="2">10~30 min</option>
                    <option value="3">30~60 min</option>
                    <option value="4">60up min</option>
                  </select>
                  <button class="filterTime" id="avgtime">average</button>
                  <button class="filterTime" id="totaltime">total</button>
                </div>
                <div style="display:flex;padding:5px;justify-content:center">
                  <button id="filterBtn">filter</button>
                  <button id="filterBtn-clean">show all</button>
                </div>
              </div>

            </div>


          </div>

          <div class="tablinks_area" id="Line_1_room">
            <div id="chat-area">聊天中-------------</div>
            <ol class="list-group" id="line1-clients"></ol>
            <div id="idle-area">閒置中-------------</div>
            <ol class="list-group" id="line1-idle-roomes"></ol>
          </div>
          <div class="tablinks_area" id="Line_2_room">
            <div id="chat-area">chat-area-------------</div>
            <ol class="list-group" id="line2-clients"></ol>
            <div id="idle-area">idle-area-------------</div>
            <ol class="list-group" id="line2-idle-roomes"></ol>
          </div>
          <div class="tablinks_area" id="FB_room" rel="FB">
            <div id="chat-area">chat-area-------------</div>
            <ol class="list-group" id="fb-clients"></ol>
            <div id="idle-area">idle-area-------------</div>
            <ol class="list-group" id="fb-idle-roomes"></ol>
          </div>

        </div>

        <div id="chat" class="contentPanel" style="background-color: /*#c2d4dd*/;width:30%;">

          <div class="chat_prof_head"></div>
          <div class="chat_prof">
<!--             <img src="" alt="無法顯示相片" class="userPhoto" style="width:60px;height:60px;border-radius:50px;margin:1.5%"> -->
            <h4 style="margin-left: 10px" id="prof_nick"></h4>
          </div>

          <section id="canvas">
          </section>

          <!-- <form action="" id="send-message" disabled> -->
          <div id="send-message">
            <div class="uploadArea" style="float:bottom">
              <div  id="showAttImg" >
                <div style="flex-direction:column;padding:5px 0">
                  <input size="35" id="attImgFill" placeholder="輸入圖片網址"/>
                  <input type='file' accept='image/*' id="imageUPload"/>
                </div>
                <button id="upImg">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <i class="fa fa-spinner" aria-hidden="true" style="display:none"></i>
                </button>
              </div>
              <div  id="showAttVid" >
                <div style="flex-direction:column;padding:5px 0">
                  <input size="35" id="attVidFill" placeholder="輸入影片網址"/>
                  <input type='file' accept='video/*' id="videoUPload"/>
                </div>
                <button id="upVid">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <i class="fa fa-spinner" aria-hidden="true" style="display:none"></i>
                </button>
              </div>
              <div  id="showAttAud" >
                <div style="flex-direction:column;padding:5px 0">
                  <input size="35" id="attAudFill" placeholder="輸入音訊網址"/>
                  <input type='file' accept='audio/*' id="audioUPload"/>
                </div>
                <button id="upAud">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <i class="fa fa-spinner" aria-hidden="true" style="display:none"></i>
                </button>
              </div>
            </div>
            <div class="formUpper">
              <div style="float:right;display:flex;padding:10px">
                <select  id="user-rooms">
                  <option id="selectAll" value="全選">全選</option>
                  <option id="selectAll" value="對可見用戶發送">對可見用戶發送</option>
                </select>
              </div>
              <div class="insert_media" style="position:absolute;display:block">
                <button  rel="showAttImg" id="attImg" class="onclick_show"><i class="fa fa-file-image-o fa" aria-hidden="true"></i></button>
                <button  rel="showAttVid" id="attVid" class="onclick_show"><i class="fa fa-file-video-o fa" aria-hidden="true"></i></button>
                <button  rel="showAttAud" id="attAud" class="onclick_show"><i class="fa fa-file-audio-o fa" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="formLower">
              <input placeholder="輸入訊息..." style="width:85%; height:50px;border:0" size="35" id="message" />
              <input type="button" id="submitMsg" />
            </div>
          </div>
        </div>


        <!-- <div style="float:left!important;width: 30%;border-left:solid 1px lightgrey;float:right;" id="內部聊天室">
          <div class="chat_prof_head"></div>
          <div class="chat_prof">
            <img src="https://marketplace.canva.com/MAB7k1IXVl4/1/thumbnail/canva-single-shield-icon-MAB7k1IXVl4.png" alt="無法顯示相片" style="width:60px;height:60px;border-radius:50px;margin:1.5%;float:left;margin-right: 5px;">
            <h4 id="prof_nick">內部聊天室</h4>
           </div>
          <section id="canvas">
          </section>
          <form action="" id="send-message" disabled>
            <select style="float:right" id="user-rooms">
              <option id="selectAll" value="全選">全選</option>
              <option id="selectAll" value="對可見用戶發送">對可見用戶發送</option>
            </select>
            <input placeholder="輸入訊息..." style="width:100%; height:100px" size="35" id="message" />
            <input type="submit"/>
          </form>

        </div> -->

        <div id="infoPanel" class="colume">
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link" href='#profile'>Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href='#ticket' >Ticket</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "  href='#todo' >ToDo</a>
                </li>
              </ul>
            </div>
            <section id="infoCanvas">
            </section>

          </div>

        </div>
      </div>

      <!-- <button id="userInfoBtn" class="btn btn-default" data-toggle="modal" data-target="#userInfoModal">Edit User Info</button> -->

      <!-- Modal -->
      <div class="modal fade" id="userInfoModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <img src="" alt="無法顯示相片" class="userPhoto" style="width:128px;height:128px;">
              <h4 class="modal-title">User NickName</h4>
            </div>
            <div class="modal-body">
              <table class="info_input_table">

              </table>
            </div>
            <div class="modal-footer">
              <button id="userInfo-submit" class="btn btn-default" style="background-color: greenyellow;">Confirm</button>
              <button id="userInfo-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->

    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <!-- <script src="javascripts/bootstrap-slider.js"></script> -->
    <script src="javascripts/firebaseConfig.js"></script>
    <script src="javascripts/sb-admin-2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="javascripts/chat.js"></script>
  </body>
</html>
