<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <%# Morris Charts CSS%>
    <link rel="stylesheet" href="vendor/morrisjs/morris.css" >
    <%# 自己的code%>
    <link rel="stylesheet" href="stylesheets/main.css" />

  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">SHIELD</a>
          </div>
          <!-- /.navbar-header -->
          <ul class="nav navbar-top-links navbar-left">

            <li>
              <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
              <a href="/chat" class="active">| <i class="fa fa-commenting fa-fw"></i> Chat</a>
            </li>
            <li>
              <a href="/tag">| <i class="fa fa-commenting fa-fw"></i> Tag</a>
            </li>
            <li>
              <a href="/calendar">| <i class="fa fa-table fa-fw"></i> Calendar</a>
            </li>
            <li>
              <a href="/ticket">| <i class="fa fa-ticket fa-fw"></i> Support</a>
            </li>

          </ul>
          <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                <li class="divider"></li>
                <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
      </nav>
    </div>

    <div id="profile-wrap">
      <div id="error-message" hidden>
        Please go to the button below and fill in your profile information.
      </div>
      <div class="panel panel-info profWid">
        <div class="panel-heading">
          <h3 class="panel-title" id="prof-name"></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-12 col-lg-12 ">
              <table class="table table-user-information">
                <tbody>
                  <tr hidden>
                    <td>ID: </td>
                    <td id="prof-id"></td>
                  </tr>
                  <tr hidden>
                    <td>Nickname: </td>
                    <td id="prof-nick"></td>
                  </tr>
                  <tr>
                    <td>Date of Birth: </td>
                    <td id="prof-dob"></td>
                  </tr>
                  <tr>
                    <td>Email: </td>
                    <td id="prof-email"></td>
                  </tr>
                  <tr>
                    <td>Gender: </td>
                    <td id="prof-gender"></td>
                  </tr>
                  <tr>
                    <td>Phone Number: </td>
                    <td id="prof-phone"></td>
                  </tr>
                  <tr>
                    <td>Channel Id 1: </td>
                    <td id="prof-channelId_1"></td>
                  </tr>
                  <tr>
                    <td>Channel Secret 1: </td>
                    <td id="prof-channelSecret_1"></td>
                  </tr>
                  <tr>
                    <td>Channel Access Token 1: </td>
                    <td id="prof-channelAccessToken_1"></td>
                  </tr>
                  <tr>
                    <td>Channel Id 2: </td>
                    <td id="prof-channelId_2"></td>
                  </tr>
                  <tr>
                    <td>Channel Secret 2: </td>
                    <td id="prof-channelSecret_2"></td>
                  </tr>
                  <tr>
                    <td>Channel Access Token 2: </td>
                    <td id="prof-channelAccessToken_2"></td>
                  </tr>
                </tbody>
              </table>
              <div id="btn-area">
                <button type="button" class="btn btn-default" id="prof-edit" data-toggle="modal" data-target="#profModal">
                  <span class="fa fa-plus fa-fw"></span>
                  Edit Profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profModal" tabindex="-1" role="dialog" aria-labelledby="profModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="profModalTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form method="POST" action="/foo-route">
              <!-- 編號 -->
              <div class="form-group" hidden>
                <label for="edit-id" class="col-2 col-form-label">ID</label>
                <span id="prof-edit-id"></span>
              </div>
              <!-- 姓名 -->
              <div class="form-group">
                <label for="prof-edit-name" class="col-2 col-form-label">Name: </label>
                <div class="col-4">
                  <input class="form-control" type="text" value="" id="prof-edit-name">
                </div>
              </div>
              <!-- 姓名 -->
              <div class="form-group">
                <label for="prof-edit-name" class="col-2 col-form-label">Nickname: </label>
                <div class="col-4">
                  <input class="form-control" type="text" value="" id="prof-edit-nick">
                </div>
              </div>
              <!-- 出生日期 -->
              <div class="form-group">
                <label for="prof-edit-dob" class="col-2 col-form-label">Birth Date: </label>
                <div class="col-4">
                  <input class="form-control" type="date" value="" id="prof-edit-dob">
                </div>
              </div>
              <!-- 郵件 -->
              <div class="form-group">
                <label for="prof-edit-email" class="col-2 col-form-label">Email: </label>
                <div class="col-4">
                  <input class="form-control" type="email" value="" id="prof-edit-email">
                </div>
              </div>
              <!-- 性別 -->
              <div class="form-group">
                <label for="prof-edit-gender">Gender: </label>
                <select class="form-control" id="prof-edit-gender">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>

              <!-- 電話 -->
              <div class="form-group">
                <label for="prof-edit-phone" class="col-2 col-form-label">Phone: </label>
                <div class="col-4">
                  <input class="form-control" type="tel" value="" id="prof-edit-phone">
                </div>
              </div>

                            <!-- Channel Id -->
              <div class="form-group">
                <label for="prof-edit-channelId_1" class="col-2 col-form-label">Channel Id 1: </label>
                <div class="col-4">
                  <input class="form-control" type="tel" value="" id="prof-edit-channelId_1">
                </div>
              </div>
                            <!-- Channel Secret -->
              <div class="form-group">
                <label for="prof-edit-channelSecret_1" class="col-2 col-form-label">Channel Secret 1: </label>
                <div class="col-4">
                  <input class="form-control" type="tel" value="" id="prof-edit-channelSecret_1">
                </div>
              </div>
                            <!-- Channel Access Token -->
              <div class="form-group">
                <label for="prof-edit-channelAccessToken_1" class="col-2 col-form-label">Channel Access Token 1: </label>
                <div class="col-4">
                  <input class="form-control" type="tel" value="" id="prof-edit-channelAccessToken_1">
                </div>
              </div>
                            <!-- Channel Id -->
              <div class="form-group">
                <label for="prof-edit-channelId_2" class="col-2 col-form-label">Channel Id 2: </label>
                <div class="col-4">
                  <input class="form-control" type="tel" value="" id="prof-edit-channelId_2">
                </div>
              </div>
                            <!-- Channel Secret -->
              <div class="form-group">
                <label for="prof-edit-channelSecret_2" class="col-2 col-form-label">Channel Secret 2: </label>
                <div class="col-4">
                  <input class="form-control" type="tel" value="" id="prof-edit-channelSecret_2">
                </div>
              </div>
                            <!-- Channel Access Token -->
              <div class="form-group">
                <label for="prof-edit-channelAccessToken_2" class="col-2 col-form-label">Channel Access Token 2: </label>
                <div class="col-4">
                  <input class="form-control" type="tel" value="" id="prof-edit-channelAccessToken_2">
                </div>
              </div>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="prof-submit">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="javascripts/firebaseConfig.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="javascripts/profile.js"></script>
  </body>
</html>
