
/*Profile*/
#error-message {
  color: #ff3535;
}
table, tbody, tr {
  table-layout: fixed;
  width: 100%;
}
tr td:nth-child(1) {
  width: 20%;
}
tr td:nth-child(2) {
  /*width: 80%;*/
  word-break: break-all;
}
